body {
    background-attachment: scroll;
    background-image: url(cederic.jpg);
    background-color: rgb(0, 0, 0);

    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    max-width: 1020px;
    margin: 10px auto;
    background-size: cover;
}

nav {
    text-align: center;
}
nav ul{
    display:flex;
}
nav ul li{
    flex:1;
    list-style: none;
}
article img {
    width: 50%;
    display: block;
    margin:auto;
}

header {
        text-align: center;
        background-color:transparent;
        color: white;
        -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;
    }
h1{
    text-align: center;
    background-color: transparent;
    color: white;
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
h2{
    text-align: center;
    background-color: transparent;
    color: white;
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

img{
    width:500px;
}









